# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [5]:
import pandas as pd
import os
os.chdir('/Users/karla/SF-dat/SF-DAT-20/Data/') #PLEASE SET THIS WORKING DIRECTORY TO YOURS
data = pd.read_csv('ozone.csv')

In [6]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [8]:
for x in data.columns.values:
    print x

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [16]:
a=data[:2]
n=data.head(2)
print a
print n

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [14]:

data.shape[0]

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [18]:
a=data[-2:]
n=data.tail(2)
print a
print n

     Ozone  Solar.R  Wind  Temp  Month  Day
151     18      131   8.0    76      9   29
152     20      223  11.5    68      9   30
     Ozone  Solar.R  Wind  Temp  Month  Day
151     18      131   8.0    76      9   29
152     20      223  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [21]:
print data.Ozone[46]

21.0

How many missing values are in the Ozone column of this data frame?

In [39]:
data.Ozone.isnull().sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [42]:
a=data.Ozone.sum()/data.Ozone.count()
print a
data.Ozone.describe()

42.1293103448

count    116.000000
mean      42.129310
std       32.987885
min        1.000000
25%       18.000000
50%       31.500000
75%       63.250000
max      168.000000
Name: Ozone, dtype: float64

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [57]:
a=data[(data.Temp > 90) | (data.Ozone > 31)]
a['Solar.R'].mean()
g=data[['Ozone','Temp']]
print g

     Ozone  Temp
0       41    67
1       36    72
2       12    74
3       18    62
4      NaN    56
5       28    66
6       23    65
7       19    59
8        8    61
9      NaN    69
10       7    74
11      16    69
12      11    66
13      14    68
14      18    58
15      14    64
16      34    66
17       6    57
18      30    68
19      11    62
20       1    59
21      11    73
22       4    61
23      32    61
24     NaN    57
25     NaN    58
26     NaN    57
27      23    67
28      45    81
29     115    79
..     ...   ...
123     96    91
124     78    92
125     73    93
126     91    93
127     47    87
128     32    84
129     20    80
130     23    78
131     21    75
132     24    73
133     44    81
134     21    76
135     28    77
136      9    71
137     13    71
138     46    78
139     18    67
140     13    76
141     24    68
142     16    82
143     13    64
144     23    71
145     36    81
146      7    69
147     14    63
148     30    70
149    NaN    77
150     14    75
151     18    76
152     20    68

[153 rows x 2 columns]

What is the mean of "Temp" when "Month" is equal to 6?

In [51]:
b=data[data.Month==6]
b.Temp.mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [52]:
c=data[data.Month==5]
c.Ozone.max()

115.0

In [56]:
b.count()

Ozone       9
Solar.R    30
Wind       30
Temp       30
Month      30
Day        30
dtype: int64

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas